{% extends 'base.html' %}

{% block content %}

<form method="POST">
<h1>Twoje dane</h1>

    {{ customer_form.hidden_tag() }}

    {{ customer_form.email.label(class="form-label") }}
    {{ customer_form.email( class="form-control") }}
    {% if customer_form.email.errors %}
        {% for error in customer_form.email.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" >
                {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>   
            </div>
        {% endfor %}
    {% endif %}
    <br/>
    {{ customer_form.name.label(class="form-label") }}
    {{ customer_form.name( class="form-control") }}
    <br/>

    {{ customer_form.last_name.label(class="form-label") }}
    {{ customer_form.last_name( class="form-control") }}
    <br/>

    {{ customer_form.address.label(class="form-label") }}
    {{ customer_form.address( class="form-control") }}
    <br/>


    {{ customer_form.submit(class="btn btn-secondary") }}
    
</form>

{% endblock %}