{% extends 'base.html' %}

{% block content %}

{% for message in
    get_flashed_messages() %}
    
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="opacity: 0.25;"></button>
        </div>
    
{% endfor %} 
    


Produkty

<table class="table table-hover table-bordered table-striped">
    {% for our_product in our_products %}
        <tr>
        <td>
        {{ our_product.product_id }}.
        {{ our_product.product_name }}-
        {{ our_product.producer }} - 
        {{ our_product.cost }} -
        {{ our_product.data_added }}
        {{ our_product.category_id }}       - 
        <a href="{{ url_for('product_blueprint.product', product_id= our_product.product_id) }}" class="btn btn-secondary btn-sm">Dodaj do koszyka</a>
        </td>
        </tr>
    {% endfor %}
    </table>
    </br>
    </br>
{% endblock %}