{% extends 'base.html' %}
{% block content %}


<table class="table table-hover table-bordered table-striped">
    {% for product in product %}
        <tr>
        <td>
        {{ product.product_id }}.
        {{ product.product_name }}-
        {{ product.producer }} - 
        {{ product.cost }}    - 
        <a href="{{ url_for('product_blueprint.product', product_id= product.product_id) }}" class="btn btn-secondary btn-sm">Dodaj do koszyka</a>
        </td>
        </tr>
    {% endfor %}
    </table>
    </br>
    </br>
{% endblock %}