{% extends 'base.html' %}

{% block content %}

{% for message in
get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if user_id == current_user.user_id %}
    <h1>Update User...</h1>
    <br/><br/>
    ID to Update: {{ user_id }}
    <br/>
    Current ID : {{ current_user.user_id }}
    <br/><br/>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="/dashboard" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name( class="form-control", value = user_to_update.name) }}
        <br/>

        {{ form.last_name.label(class="form-label") }}
        {{ form.last_name( class="form-control", value = user_to_update.last_name) }}
        <br/>


        {{ form.username.label(class="form-label") }}
        {{ form.username( class="form-control", value = user_to_update.username) }}
        <br/>


        {{ form.address.label(class="form-label") }}
        {{ form.address( class="form-control", value = user_to_update.address) }}
        <br/>
        
        {{ form.submit(class="btn btn-secondary") }}

    </form>
</div>
</br></br></br>

{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    SOrry ! U cant edit this user...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

    <h2>ACCES DENIED!</h2>


{% endif %}

{% endblock %}