{% extends 'base.html' %}

{% block content %}

<h1>Koszyk</h1>


<form method="POST" action="{{ url_for('update_cart') }}">
    {% for item in cart %}
        <p>Product ID : {{ item['product_id'] }} . 
            <label for="">Quantity:</label>
            <input type="number" name="quantity" value="{{ item['quantity'] }}" min="1" max="10">
            <input type="hidden" name="product_id" value="{{ item['product_id'] }}">
        </p>
    {% endfor %}
    <button type="submit" class="btn btn-danger btn-sm">Update</button>


</form>
</br>
</br>

{% for item in cart %}
    {{ item['quantity'] }}
{% endfor %}

</br>
</br>






{% endblock %}