{% extends 'base.html' %}

{% block content %}

{% for message in
get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


    <h2>Dashboard</h2>
    <br/>
    <div class="card">
        <div class="card-header">
            {{ current_user.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome to your user Dashboard</h5>
          <p class="card-text">    
            <strong>Name:</strong> {{ current_user.name }}
            <br/>
            <strong>Last name:</strong> {{ current_user.last_name }}
            <br/>
            <strong>Username:</strong> {{ current_user.username }}
            <br/>
            <strong>User Id:</strong> {{ current_user.user_id }}
            <br/>
            <strong>Email:</strong> {{ current_user.email }}
            <br/>
            <strong>address:</strong> {{ current_user.address }}
            <br/>
            <strong>Data joined:</strong> {{ current_user.data_added }}</p>
          <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a>

          <a href ="{{ url_for('update') }}" class="btn btn-secondary btn-sm">Update</a> 
          
        </div>
      </div>


</br></br></br>

{% endblock %}