
<nav class="navbar navbar-expand-lg" style="background-color: #9ACD32;">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO SKLEPU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
            {% if current_user.is_authenticated %} 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('dashboard') }}">User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a>
            </li>
            <li class="nav-item">
              <form method="POST">
              <a class="nav-link" name="cart" href="{{ url_for('cart') }}">Koszyk</a>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add_user') }}">Rejestracja</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Logowanie</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add_product') }}">Dodaj produkt</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user_list') }}">Lista Userów</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kategorie
              </a>
                <ul class="dropdown-menu" style="background-color: #9ACD32; border: none;">
                    <li><a class="dropdown-item" href="/sucha_karma" style="background-color: #9ACD32; text-align: left;">Sucha karma</a></li>
                    <li><a class="dropdown-item" href="/mokra_karma" style="background-color: #9ACD32; text-align: left;">Mokra karma</a></li>
                    <li><a class="dropdown-item" href="/zabawki" style="background-color: #9ACD32; text-align: left;">Zabawki</a></li>
                    <li><a class="dropdown-item" href="/products" style="background-color: #9ACD32; text-align: left;">Produkty</a></li>
                    <li><a class="dropdown-item" href="/add_category" style="background-color: #9ACD32; text-align: left;">Dodaj Kategorie</a></li>
                </ul>
            </li>
          </ul>
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Wpisz produkt" aria-label="Search">
              <button class="btn btn-outline-secondary" type="submit">Wyszukaj</button>
          </form>
      </div>
  </div>
</nav>
