{% extends 'base.html' %}

{% block content %}











<!-- 
{% for message in
    get_flashed_messages() %}
    
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %} -->

<h1> Product {{ product_id }}</h1>
</br>


<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    {{ product.product_name }}</br>
    {{ product.producer }}</br>
    {{ product.cost }}</br>

    <br></br>
</div>
<form method="POST" action="{{ url_for('product', product_id=product.product_id) }}">
    {{ form2.hidden_tag() }}
    <label for="quantity">Quantity:</label>
    {{ form2.quantity_of_product(size=5, type="number", step=1) }}
    <button type="submit">Dodaj do koszyka</button>
</form>



{% endblock %}